<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" IgnorableNamespaces="uap mp">
  <Identity Name="1516f9ef-c101-4d54-8f38-417a1eb67430" Publisher="CN=FerenzHelm" Version="1.0.0.0" />
  <mp:PhoneIdentity PhoneProductId="1516f9ef-c101-4d54-8f38-417a1eb67430" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <!--Properties-->
  <Properties>
    <DisplayName>TimePunchIntroPlayerUWP</DisplayName>
    <PublisherDisplayName>FerenzHelm</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <!--Dependencies-->
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>
  <!--Resources-->
  <Resources>
    <!--<Resource Language="x-generate" />-->
    <Resource Language="de-de" />
  </Resources>
  <!--Applications-->
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="TimePunchIntroPlayerUWP.App">
      <uap:VisualElements DisplayName="TimePunchIntroPlayerUWP" Square150x150Logo="Assets\Square150x150Logo.png" Square44x44Logo="Assets\Square44x44Logo.png" Description="TimePunchIntroPlayerUWP" BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png">
        </uap:DefaultTile>
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
      </uap:VisualElements>
    </Application>
  </Applications>
  <!--Capabilities-->
  <Capabilities>
    <Capability Name="privateNetworkClientServer" />
    <Capability Name="internetClientServer" />
    <uap:Capability Name="videosLibrary" />
  </Capabilities>
</Package>