<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <add key="StandardDirectoryPath" value="C:\ProgramData\TimePunchIntroPlayer\Videos"/>
    <add key="twitterUrl" value="https://twitter.com/timepunchnews?lang=de"/>
    <add key="homepageUrl" value="https://www.timepunch.de"/>
  </appSettings>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
    </startup>
</configuration>
